.nav-link {
  display: block;
  padding: 0 1rem !important;
}

.nav-links {
  color: #212529;
  padding-right: 1rem;
}

.nav-links:hover,
.brand-logo:hover {
  color: #28a745;
  text-decoration: none;
}

.brand-logo {
  color: #28a745;
}
