body {
  background-image: url("https://images.unsplash.com/photo-1507145569372-d69bae8bc9a0");
  background-size: cover;
  background-repeat: no-repeat;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-container {
  padding: 20%; /*! fix responsive center align*/
  text-align: right;
}

#main-title {
  color: #fff;
}
